header {
    background-color: #ffffff;
    min-height: 70px;
}

header .brand h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header .brand {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-left: 15px;
}

ul {
    margin: 0;
    padding: 10px;
}

nav li {
    display: inline-flex;
    float: right;
    padding: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: #777777;
    font-size: 15px;
}